{% extends "frontend/base.htm" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'frontend/styles/index.css' %}">
{% endblock %}
{% block content %}
    <div class="vertical-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <canvas id="chart">

                    </canvas>
                </div>
                <div class="col">
                    <h3>Add a meal</h3>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="text" id="food-name" name="food-name" placeholder="Food Name" class="form-control"/>
                        <input type="number" id="calories" name="calories" placeholder="Calories" class="form-control"/>
                        <input type="number" id="protein" name="protein" placeholder="Protein" class="form-control"/>
                        <input type="number" id="fat" name="fat" placeholder="Fat" class="form-control"/>
                        <button onclick="createFood('{{ request.user.id }}')" class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        const canvas = document.getElementById("chart");
        const ctx = canvas.getContext("2d");

        ctx.fillStyle = "rgb(200, 200, 200)";
        ctx.fillRect(0, 0, canvas.width, canvas.height);
        ctx.fillStyle = "rgb(0,0,0)";
        

    </script>
    <script src="{% static 'frontend/scripts/index.js' %}"></script>
{% endblock %}